<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <section id="content">
      <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
        <h1>Login Form</h1>
       

        <div class="form-group">
          <label for="email" >Email:</label>
          <input type="text" style="width:250px" class="form-control" id="email" placeholder="Enter email" formControlName="email">
          <div *ngIf="loginform.controls.email.touched && loginform.controls.email.hasError('required')" class="alert alert-danger">Email is Required!</div>
          <div *ngIf="loginform.controls.email.touched && loginform.controls.email.hasError('email')" class="alert alert-danger">
            Invalid Email!
          </div>
        </div>

        <div class="form-group">
          <label for="password" >Password:</label>
          <input type="password" style="width:250px" class="form-control" id="password" placeholder="Enter Password" formControlName="password">
          <div *ngIf="loginform.controls.password.touched && loginform.controls.password.hasError('required')" class="alert alert-danger">Password is Required!</div>
          <div *ngIf="loginform.controls.password.touched && loginform.controls.password.hasError('pattern')" class="alert alert-danger">
            Your password must be at least 6 to 12 characters long, contain at least one uppercase, lowercase, number and special charecter.
          </div>
        </div>

        
        <div>
          
          <input type="submit" value="Log in"  [disabled]="loginform.invalid" />
         
          <a [routerLink]="['/register']">Register</a>
          
        </div>
      </form><!-- form -->
      <div class="button">
        <a href="#"></a>
      </div><!-- button -->
    </section><!-- content -->
  </div><!-- container -->
  </body>

</html>