<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
      <section id="content">
        <form [formGroup]="registerform" (ngSubmit)="register(registerform.value)">
          <h1>Registration Form</h1>
         
  
          <div class="form-group">
              <label for="email" class="abc">Email:</label>
              <input type="text" style="width:250px" class="form-control" id="email" placeholder="Enter email" formControlName="email">
              <div *ngIf="registerform.controls.email.touched && registerform.controls.email.hasError('required')" class="alert alert-danger">Email is Required!</div>
              <div *ngIf="registerform.controls.email.touched && registerform.controls.email.hasError('email')" class="alert alert-danger">Invalid Email!</div>
      
            </div>
  
            <div class="form-group">
                <label for="password" class="abc">Password:</label>
                <input type="password" style="width:250px" class="form-control" id="password" placeholder="Enter Password" formControlName="password">
                <div *ngIf="registerform.controls.password.touched && registerform.controls.password.hasError('required')" class="alert alert-danger">Password is Required!</div>
                <div *ngIf="registerform.controls.password.touched && registerform.controls.password.hasError('pattern')" class="alert alert-danger">
                  Your password must be at least 6 to 12 characters long, contain at least one uppercase, lowercase, number and special charecter.
                </div>
        
              </div>

              <div class="form-group">
                  <label for="pan" class="xyz">PAN card Number:</label>
                  <input type="text" style="width:250px" class="form-control" id="panno" placeholder="Enter Pancard Number" formControlName="panno">
                  <div *ngIf="registerform.controls.panno.touched && registerform.controls.panno.hasError('required')" class="alert alert-danger">Pancard Number is Required!</div>
                  <div *ngIf="registerform.controls.panno.touched && registerform.controls.panno.hasError('pattern')" class="alert alert-danger">Invalid Pancard Number!
                    
                  </div>
                </div>
                

                <div>
          
                    <input type="submit" value="Sing in"  [disabled]="registerform.invalid" />
                   
                    <a [routerLink]="['/login']">Login</a>
                    
                  </div>
          
          
        </form><!-- form -->
        <div class="button">
          <a href="#"></a>
        </div><!-- button -->
      </section><!-- content -->
    </div><!-- container -->
    </body>



</html>